config.yaml

/*.json
/*.pdb
/*.db

# RespDB data
/data/

# py
*.pyc
__pycache__

# build binaries
bin/
dist/
respdb

# npm modules and webpack build
web/node_modules/
web/output/

.vscode
*.txt

*.tar.gz