config.yaml

.env
docker-compose.yml

/*.json
/*.pdb
/*.db

# VarMed data
/data/

# py
*.pyc
__pycache__

# build binaries
bin/
dist/
varmed

# npm modules and webpack build
web/node_modules/
web/output/

.vscode
*.txt

*.tar.gz