.presentation {
  min-height: 600px;
  // background: radial-gradient(circle, #1f2b2f 0%, #1c1e20 25%);
}

.hero {
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
  color: white;
}

.logo {
  user-select: none;
  width: 200px;
  height: auto;
}

.footer {
  color: #758694;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #20232a;
  opacity: 0.85;
}

.paper {
  color: #aaa;
  font-style: italic;
}

.authors {
  color: #888;
  font-size: 0.75rem !important;
  letter-spacing: 0.03333em !important;
}

#splash {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(55px);
  opacity: 0;
  transition: all 2s ease-in-out;
}

#splash.started {
  filter: blur(5px);
  opacity: 1;
}

#splash .lm-viewport-controls,
#splash .lm-task-state,
#splash .lm-logo {
  display: none;
}

.index {
  z-index: 999;
  position: relative;
}
