.left.split {
  margin-top: 63px;
  width: 60%;
  top: 0;
  height: calc(100% - 64px);
}

.right.split {
  padding-top: 84px;
  width: 40%;
  right: 0;
  overflow-y: scroll;
  height: calc(100% - 84px);
  margin-top: -64px;
}

.split {
  position: absolute;
}

@media only screen and (max-width: 1180px) {
  .split {
    position: relative;
    height: 400px !important;
  }

  .left.split {
    margin-top: 0;
    width: 100%;
    top: 0;
  }

  .right.split {
    width: 100%;
    right: 0;
    height: auto;
  }
}
