.left.split {
  margin-top: 64px;
  width: 60%;
  top: 0;
}

.right.split {
  padding-top: 32px;
  width: 40%;
  right: 0;
  overflow-y: scroll;
}

.split {
  position: fixed;
  height: calc(100% - 64px);
}
