// Override styles for customizing and to not import Bootstrap.

.header-zoom,
.header-position {
  width: auto !important;
}

svg text {
  fill: #fff !important;
}

svg .Xaxis text {
  fill: #555 !important;
  font-size: 11px;
}

svg .seqGroup text {
  fill: #999 !important;
}

svg polygon {
  fill: #444 !important;
}

svg g.rectangle text.element {
  font-weight: bold;
  left: 10px !important;
  pointer-events: none;
}

svg .pro.axis text {
  font-size: 11px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

g.rectangle path {
  pointer-events: none;
}

.panel h5 {
  display: inline !important;
}

.panel-heading {
  width: auto !important;
  border-right: solid 1px #777 !important;
}

// .panel-body {
//   width: 60px;
// }

// #fv {
//   padding-left: 25px !important;
// }
