.over {
  height: 500px+64px;
  pointer-events: none;
  text-shadow: 2px 2px 10px #1c1e20, 2px 2px 10px #1c1e20;
  position: absolute;
  z-index: 999;
}

.over hr {
  margin-bottom: 10px;
}

.over h4,
.over p,
.over hr {
  pointer-events: none;
}

.over .MuiFormControl-root {
  pointer-events: all;
}

.lm-overlay {
  background: #1c1e20 !important;
}

#litemol {
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 84px;
  border-bottom: solid 1px #272727;
  transition: all 0.2s ease;
}

#litemol .open {
  height: 500px;
}
